<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Force https, http://stackoverflow.com/questions/4398951/force-ssl-https-using-htaccess-and-mod-rewrite
    RewriteCond %{HTTPS} !=on
    RewriteRule ^ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

# === Caching ===
<IfModule mod_headers.c>
  <filesmatch "\.(php)$">
    Header set Cache-Control "max-age=1"
  </filesmatch>
  <filesmatch "\.(css|htm|html|ini|js|json|xml)$">
    Header set Cache-Control "max-age=604800, s-maxage=31449600, public"
  </filesmatch>
  <filesmatch "\.(pdf)$">
    Header set Cache-Control "max-age=86400, public"
  </filesmatch>
  <FilesMatch "\.(gif|ico|jpeg|jpg|png|svg|wav|webp)$">
    Header set Cache-Control "max-age=31449600, public"
  </FilesMatch>
  <filesmatch "\.(eot|woff2)$">
    Header set Cache-Control "max-age=314496000, public"
  </filesmatch>
</IfModule>